<link rel="stylesheet" href="modules/Skin/style/Skin.css"/>
<div class="row" style="overflow: hidden">
    <div class="col-md-10 col-md-push-1 hot-category" style="padding-bottom: 40px">
            <!--1楼-分类-->
        <div class="row">
            <div class="titlePro">------热门分类------</div>
        </div>
        <div class="row">
            <div class="col-md-4 container" style="text-align: center">
                <a href="#" class="borderBox" style="height: auto;margin-top: 25px" ng-click="private.goTo('serise')">
                    <img src="app/style/img/Skin/category1.jpg" tilte="护肤套装"/>
                </a>
            </div>
            <div class="col-md-8 container">
                <div class="row">
                    <div class="col-md-4">
                        <a href="" class="borderBox" ng-click="private.goTo('mask')">
                            <img src="app/style/img/Skin/category2.jpg" title="面膜"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#astringent" class="borderBox" ng-click="private.goTo('astringent')">
                            <img src="app/style/img/Skin/category3.jpg" title="化妆水"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="borderBox" ng-click="private.goTo('essence')">
                            <img src="app/style/img/Skin/category4.jpg" title="精华"/>
                        </a>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px">
                    <div class="col-md-4">
                        <a href="#" class="borderBox" ng-click="private.goTo('eye')">
                            <img src="app/style/img/Skin/category5.jpg" title="眼霜"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="borderBox" ng-click="private.goTo('sunscreen')">
                            <img src="app/style/img/Skin/category6.jpg" title="防晒隔离"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="https://beauty.vip.com/" class="borderBox">
                            <img src="app/style/img/Skin/arrow.jpg" title="更多详情，敬请期待"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
            <!--2楼-面膜区-->

        <div class="row" id="mask">
            <div class="titlePro">------面膜------</div>
        </div>
        <div class="row" >
            <div class="col-md-4 imgContent">
                <a href="https://item.jd.hk/1967901504.html?cu=true&utm_source=baidu-nks&utm_medium=cpc&utm_campaign=t_262767352_baidunks&utm_term=83121070775_0_453339697cd240708cac9482ae818a80#crumb-wrap" target="_blank">
                    <img src="app/style/img/Skin/product-mask.jpg" title="Papa recipe PAPA RECIPE 春雨蜜罐面膜 10张 保湿补水"/>
                </a>
            </div>
            <div class="col-md-8">
                <div class="accordion">
                    <div class="title" data-trigger="accordion">产品详情</div>
                    <div class="content fade in">
                        <table>
                            <tr>
                                <td><b>产品名称:</b></td>
                                <td>Papa recipe PAPA RECIPE 春雨蜜罐面膜 10张 保湿补水</td>
                            </tr>
                            <tr>
                                <td><b>产品功效：</b></td>
                                <td>补水 保湿 滋润</td>
                            </tr>
                            <tr>
                                <td><b>适合肤质：</b></td>
                                <td>所有肤质</td>
                            </tr>
                            <tr>
                                <td><b>使用人群：</b></td>
                                <td>所有人群</td>
                            </tr>
                            <tr>
                                <td><b>产地：</b></td>
                                <td>韩国</td>
                            </tr>
                            <tr>
                                <td><b>有效期：</b></td>
                                <td>24个月（以收到实物为准）</td>
                            </tr>
                            <tr>
                                <td><b>推荐原因：</b></td>
                                <td>保湿补水 （新旧包装,随机发货）来自大自然的保湿成分,<br>蜂胶提取物与蜂蜜提取物令肌肤营养水润,持久保湿,打造蜜汁般光泽肌肤
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="title" data-trigger="accordion">用户评价</div>
                    <div class="content fade">

                    </div>
                    <div class="title" data-trigger="accordion">使用小tip</div>
                    <div class="content fade">
                        <table style="border: 1px solid pink;">

                            <tr><td>①局部试用：首次使用建议先于局部皮肤进行测试，无不适再使用</td></tr>
                            <tr><td>②使用注意：敷面时注意避开严周，表皮有破损伤口时，请勿使用</td></tr>
                            <tr><td>③分季使用：严寒夏日冷藏，寒冷冬季50℃</td></tr>
                            <tr><td>④多余精华：多余精华可按摩裸露皮肤，如手肘、膝盖等</td></tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/mask1.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">美迪恩惠-胶囊100生物纤维面膜 [补水β]</p>
                        <p class="down_p2">网络热卖价 ￥30.00<br> 网络折扣价 ￥25.00</p>
                        <a href="http://www.medihealcos.cn/shop/mediheal-masking-layering-ampoule-hydra-shot/" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/mask2.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">悦诗风吟-水光果冻面膜</p>
                        <p class="down_p2">网络热卖价 ￥18.00<br> 网络折扣价 ￥15.00</p>
                        <a href="https://www.innisfree.cn/Product.do?method=productView&seq=1000009821&tp=1" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/mask3.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">伊蒂之屋珍珠奶茶面膜</p>
                        <p class="down_p2">网络热卖价 ￥68.00<br> 网络折扣价 ￥34.00</p>
                        <a href="http://www.etude.cn/product/view.do?prdCode=100009882" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/mask4.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">御泥坊面膜补水保湿清洁黑面膜贴</p>
                        <p class="down_p2">网络热卖价 ￥298.00<br> 淘宝折扣价 ￥59.00</p>
                        <a href="https://item.taobao.com/item.htm?spm=a1z10.1-c-s.w5003-17276958875.4.3d3778b5V2NV7w&id=523041572454&scene=taobao_shop" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
        </div>
            <!--3楼-化妆水区  -->
        <div class="row" id="astringent">
            <div class="titlePro">------化妆水------</div>
        </div>
        <div class="row" >
            <div class="col-md-4 imgContent">
                <a href="http://www.zk100.com/product/34528.htm" target="_blank">
                    <img src="app/style/img/Skin/product-shui.jpg" title="韩国It's skin伊思蜗牛滋润爽肤水1号清爽型"/>
                </a>
            </div>
            <div class="col-md-8">
                <div class="accordion">
                    <div class="title" data-trigger="accordion">产品详情</div>
                    <div class="content fade in">
                        <table>
                            <tr>
                                <td><b>产品名称:</b></td>
                                <td>韩国It's skin伊思蜗牛滋润爽肤水1号清爽型 140ml/瓶 保湿修复</td>
                            </tr>
                            <tr>
                                <td><b>产品功效：</b></td>
                                <td>滋润肌肤 锁住水分 淡化细纹</td>
                            </tr>
                            <tr>
                                <td><b>适合肤质：</b></td>
                                <td>所有肤质</td>
                            </tr>
                            <tr>
                                <td><b>使用人群：</b></td>
                                <td>所有人群</td>
                            </tr>
                            <tr>
                                <td><b>产地：</b></td>
                                <td>韩国</td>
                            </tr>
                            <tr>
                                <td><b>有效期：</b></td>
                                <td>3年（以收到实物为准）</td>
                            </tr>
                            <tr>
                                <td><b>推荐原因：</b></td>
                                <td>保湿修复 滋润肌肤,锁住水分,恢复肌肤活力。</td>
                            </tr>
                        </table>
                    </div>
                    <div class="title" data-trigger="accordion">分享小清新</div>
                    <div class="content fade"></div>
                    <div class="title" data-trigger="accordion">护肤小tip</div>
                    <div class="content fade">
                        <img src="app/style/img/Skin/use1.jpg" alt="" style="width: 300px;height: 200px"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/shui1.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">伊蒂之屋多效毛孔焕采净透调理液500ml</p>
                        <p class="down_p2">网络热卖价 ￥158.00<br> 网络折扣价 ￥79.00</p>
                        <a href="http://www.etude.cn/product/view.do?prdCode=100009200" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/shui2.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">悦诗风吟新绿茶精萃保湿平衡柔肤水</p>
                        <p class="down_p2">网络热卖价 ￥115.00<br> 网络折扣价 暂无</p>
                        <a href="https://www.innisfree.cn/Product.do?method=productView&seq=1000007161" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/shui3.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">AHC B5透明质酸玻尿酸精华神仙水100ml</p>
                        <p class="down_p2">网络热卖价 ￥99.00<br> 网络折扣价 ￥68.00</p>
                        <a href="https://item.jd.hk/1969734628.html" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/shui4.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">兰芝水衡清盈精华水</p>
                        <p class="down_p2">网络热卖价 ￥205.00<br> 网络折扣价 暂无</p>
                        <a href="http://www.laneige.com/cn/zh/product/skincare/category/view.essential-power-skin-refiner-light.skin_refiner.html" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
        </div>
            <!--4楼-精华区-->
        <div class="row" id="essence">
            <div class="titlePro">------精华------</div>
        </div>
        <div class="row" >
            <div class="col-md-4 imgContent">
                <a href="https://goods.kaola.com/product/19083.html?isMarketPriceShow=true&hcAntiCheatSwitch=0&anstipamActiCheatSwitch=1&anstipamActiCheatToken=de3223456456fa2e3324354u4567lt&anstipamActiCheatValidate=anstipam_acti_default_validate" target="_blank">
                    <img src="app/style/img/Skin/product-jinghua.jpg" title="IT°S SKIN IT°S SKIN 伊思 能量10精华原液"/>
                </a>
            </div>
            <div class="col-md-8">
                <div class="accordion">
                    <div class="title" data-trigger="accordion">产品详情</div>
                    <div class="content fade in">
                        <table>
                            <tr>
                                <td><b>产品名称:</b></td>
                                <td>IT°S SKIN IT°S SKIN 伊思 能量10精华原液-GF 保湿 30ml/瓶 保湿润泽</td>
                            </tr>
                            <tr>
                                <td><b>产品功效：</b></td>
                                <td>补水保湿</td>
                            </tr>
                            <tr>
                                <td><b>适合肤质：</b></td>
                                <td>所有肤质</td>
                            </tr>
                            <tr>
                                <td><b>使用人群：</b></td>
                                <td>所有人群</td>
                            </tr>
                            <tr>
                                <td><b>产地：</b></td>
                                <td>韩国</td>
                            </tr>
                            <tr>
                                <td><b>有效期：</b></td>
                                <td>3年（以收到实物为准）</td>
                            </tr>
                            <tr>
                                <td><b>推荐原因：</b></td>
                                <td>保湿润泽 补充肌肤所需的水分并长效锁水,皮肤水嫩透明。
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="title" data-trigger="accordion">分享小清新</div>
                    <div class="content fade"></div>
                    <div class="title" data-trigger="accordion">护肤小tip</div>
                    <div class="content fade"></div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/jinghua1.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">伊蒂之屋生机嫩白透润修护精华露</p>
                        <p class="down_p2">网络热卖价 ￥188.00<br> 网络折扣价 暂无</p>
                        <a href="http://www.etude.cn/product/view.do?prdCode=100011323" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/jinghua2.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">悦诗风吟济州石榴活妍焕采精华露</p>
                        <p class="down_p2">网络热卖价 ￥240.00<br> 网络折扣价 暂无</p>
                        <a href="https://www.innisfree.cn/Product.do?method=productView&seq=1000007744" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/jinghua3.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">SK-II小银瓶30ml </p>
                        <p class="down_p2">网络热卖价 ￥960.00<br> 网络折扣价 暂无</p>
                        <a href="https://item.jd.com/3841659.html?jd_pop=6861baab-efb6-4aba-a510-36ae3a80a02d&abt=0" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/jinghua4.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">兰蔻（LANCOME）新精华肌底液50ml</p>
                        <p class="down_p2">网络热卖价 ￥898.00<br> 网络折扣价 暂无</p>
                        <a href="https://item.jd.com/378721.html?jd_pop=b26e5ad7-02f4-4cf1-bd27-c653fb58bdb3" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
        </div>
            <!--5楼-眼霜-->
        <div class="row" id="eye">
            <div class="titlePro">------眼霜------</div>
        </div>
        <div class="row" >
            <div class="col-md-4 imgContent">
                <a href="https://goods.kaola.com/product/669850.html?isMarketPriceShow=true&hcAntiCheatSwitch=0&anstipamActiCheatSwitch=1&anstipamActiCheatToken=de3223456456fa2e3324354u4567lt&anstipamActiCheatValidate=anstipam_acti_default_validate" target="_blank">
                    <img src="app/style/img/Skin/product-eye.jpg" title="IT°S SKIN IT°S SKIN 伊思 红参蜗牛滚珠眼霜"/>
                </a>
            </div>
            <div class="col-md-8">
                <div class="accordion">
                    <div class="title" data-trigger="accordion">产品详情</div>
                    <div class="content fade in">
                        <table>
                            <tr>
                                <td><b>产品名称:</b></td>
                                <td>IT°S SKIN IT°S SKIN 伊思 红参蜗牛滚珠眼霜 15ml*2支装</td>
                            </tr>
                            <tr>
                                <td><b>产品功效：</b></td>
                                <td>去黑眼圈,紧致</td>
                            </tr>
                            <tr>
                                <td><b>适合肤质：</b></td>
                                <td>所有肤质</td>
                            </tr>
                            <tr>
                                <td><b>使用人群：</b></td>
                                <td>所有人群</td>
                            </tr>
                            <tr>
                                <td><b>产地：</b></td>
                                <td>韩国</td>
                            </tr>
                            <tr>
                                <td><b>有效期：</b></td>
                                <td>3年（以收到实物为准）</td>
                            </tr>
                            <tr>
                                <td><b>推荐原因：</b></td>
                                <td>去黑眼圈 渗透皮肤深处的红参皂苷成分, 进而增强皮肤弹性,肌肤能明显变得柔嫩紧实,<br>细纹减少,粗大的毛孔也能轻易获得改善。
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="title" data-trigger="accordion">分享小清新</div>
                    <div class="content fade"></div>
                    <div class="title" data-trigger="accordion">护肤小tip</div>
                    <div class="content fade"></div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/eye1.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">伊蒂之屋蜂蜜滋养修护眼霜</p>
                        <p class="down_p2">网络热卖价 ￥178.00<br> 网络折扣价 暂无</p>
                        <a href="http://www.etude.cn/product/view.do?prdCode=100011089" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/eye2.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">济州石榴活妍焕采眼霜</p>
                        <p class="down_p2">网络热卖价 ￥240.00<br> 网络折扣价 暂无</p>
                        <a href="https://www.innisfree.cn/Product.do?method=productView&seq=1000007748" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/eye3.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">A.H.C 第三代ahc眼霜30ml </p>
                        <p class="down_p2">网络热卖价 ￥190.00<br> 网络折扣价 暂无</p>
                        <a href="http://www.ahcahc.wang/goods-2.html" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/eye4.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">雅诗兰黛肌透修护眼部精华霜</p>
                        <p class="down_p2">网络热卖价 ￥490.00<br> 网络折扣价 暂无</p>
                        <a href="https://www.esteelauder.com.cn/product/681/31378/product-catalog/advanced-night-repair" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
        </div>
            <!--6楼-防晒隔离-->
        <div class="row" id="sunscreen">
            <div class="titlePro">------防晒隔离------</div>
        </div>
        <div class="row" >
            <div class="col-md-4 imgContent">
                <a href="https://product.suning.com/0070160970/128097286.html#?src=item_127704358_recxjtj01n_1-2_p_0070160970_128097286_5_6-41_0_A" target="_blank">
                    <img src="app/style/img/Skin/product-sun.jpg" title="Coppertone水宝宝温和纯净防晒乳霜"/>
                </a>
            </div>
            <div class="col-md-8">
                <div class="accordion">
                    <div class="title" data-trigger="accordion">产品详情</div>
                    <div class="content fade in">
                        <table>
                            <tr>
                                <td><b>产品名称:</b></td>
                                <td>Coppertone水宝宝温和纯净防晒乳霜</td>
                            </tr>
                            <tr>
                                <td><b>产品功效：</b></td>
                                <td>零刺激 超防水 低敏感 高防晒</td>
                            </tr>
                            <tr>
                                <td><b>适合肤质：</b></td>
                                <td>所有肤质</td>
                            </tr>
                            <tr>
                                <td><b>使用人群：</b></td>
                                <td>所有肤质</td>
                            </tr>
                            <tr>
                                <td><b>产地：</b></td>
                                <td>美国</td>
                            </tr>
                            <tr>
                                <td><b>有效期：</b></td>
                                <td>3年（以收到实物为准）</td>
                            </tr>
                            <tr>
                                <td><b>推荐原因：</b></td>
                                <td>低敏感 无泪配方，不含任何香料及人工色素，使用更加放心;超防水，低敏感，高防晒
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="title" data-trigger="accordion">分享小清新</div>
                    <div class="content fade"></div>
                    <div class="title" data-trigger="accordion">护肤小tip</div>
                    <div class="content fade"></div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/sun1.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">兰芝柔雾防晒露 SPF 50+ PA+++</p>
                        <p class="down_p2">网络热卖价 ￥195.00<br> 网络折扣价 暂无</p>
                        <a href="http://www.laneige.com/cn/zh/product/skincare/category/view.light-sun-fluid.sun_care.html" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/sun2.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">伊蒂之屋尽享阳光多效隔离防晒霜</p>
                        <p class="down_p2">网络热卖价 ￥89.00<br> 网络折扣价 ￥62.00</p>
                        <a href="http://www.etude.cn/product/view.do?prdCode=100001640" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/sun3.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">悦诗风吟自然关爱优颜防晒霜（防水型） </p>
                        <p class="down_p2">网络热卖价 ￥110.00<br> 网络折扣价 暂无</p>
                        <a href="https://www.innisfree.cn/Product.do?method=productView&seq=1000008767&tp=1" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/Skin/sun4.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">晶透沁白防晒霜SPF30+/PA+++</p>
                        <p class="down_p2">网络热卖价 ￥520.00<br> 网络折扣价 暂无</p>
                        <a href="https://www.esteelauder.com.cn/product/1216/35026/product-catalog/crescent-white/spf30pa" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
        </div>
            <!--6楼-other -->
        <div class="row" id="serise">
            <div class="titlePro">------护肤套装------</div>
        </div>
        <div class="row" style="margin: 40px auto;">
            <div class="col-md-6">
                <a href="http://detail.vip.com/detail-1792736-311032252.html" class="blink" target="_blank">
                    <img src="app/style/img/Skin/series1.jpg" alt=""/>
                </a>
                <div class="desc">
                    <p>丸美 白色之恋趣味限量礼盒<br>
                        美白，提亮 有温度的眼霜，许你手心般的温度，温和淡化<br>
                        眼周暗沉和黑眼圈，紧致眼肌，提亮肤色
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <a href="https://item.jd.com/6325302.html?jd_pop=50865224-e8ec-46ad-904e-b6fd823a2def&abt=0" class="blink" target="_blank">
                    <img src="app/style/img/Skin/series2.jpg" alt=""/>
                </a>
                <div class="desc">
                    <p>雪肌CP 实力换肤<br>
                        蕴含多种汉方植物精粹<br>
                        帮助改善肌肤自然生理作用，肌肤一天比一天晶莹剔透
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="https://www.innisfree.cn/Product.do?method=productView&seq=1000008800&tp=1" class="blink" target="
                ">
                    <img src="app/style/img/Skin/series3.jpg" alt=""/>
                </a>
                <div class="desc">
                    <p>悦诗风吟 石榴活姸焕采水乳套装<br>
                        焕颜明眸 精选多种珍贵草本精华，为肌肤充盈补水，让肌肤自然出众
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <a href="https://www.esteelauder.com.cn/product/14854/58759/product-catalog/ultimate-youth" class="blink" target="_blank">
                    <img src="app/style/img/Skin/series4.jpg" alt=""/>
                </a>
                <div class="desc">
                    <p>Ultimate Youth 肌因修护黄金组<br>
                        神仙水礼盒 从根本着手，养护肌肤，打好基础，<br>
                        润泽保湿 密集润扬 深度保湿修护 舒缓干涩
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    <div class="row">
        <div ng-include="'tpl/footer.html'"></div>
    </div>
</div>