<link rel="stylesheet" href="modules/Home/style/home.css"/>
<div class="row" style="overflow: hidden">
    <!--<div ng-include="'tpl/header.html'"></div>-->
    <div class="col-md-10 col-md-push-1" style="padding-bottom: 40px">
        <div class="row">
            <div class="recommend-line">
                <span>大家关注</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <div class="box-top"></div>
                    <div class="box-left"></div>
                    <div class="box-bottom"></div>
                    <div class="box-right"></div>
                    <span><a href="http://www.etude.cn/product/view.do?prdCode=100011103" target="_blank"><img src="app/style/img/product1.jpg" alt=""/></a></span>
                    <br/>
                    <div class="box-info">
                        <a href="http://www.etude.cn/product/view.do?prdCode=100011103" style="color: #000;" target="_blank">伊蒂之屋柔焦美颜妆前乳 35g</a>
                        <h4 style="color:#fa91a2;">网络折扣价 ￥124.00</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="box-top"></div>
                    <div class="box-left"></div>
                    <div class="box-bottom"></div>
                    <div class="box-right"></div>
                    <span><a href="http://www.laneige.com/cn/zh/product/makeup/face/view.lumi-volume-primer.all.html" target="_blank"><img src="app/style/img/product2.jpg" alt=""/></a></span>
                    <br/>
                    <div class="box-info">
                        <a href="http://www.laneige.com/cn/zh/product/makeup/face/view.lumi-volume-primer.all.html" style="color: #000;" target="_blank">晶焕水润亮肤妆前乳 40ml</a>
                        <h4 style="color:#fa91a2;">网络热卖价 ￥245.00</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="box-top"></div>
                    <div class="box-left"></div>
                    <div class="box-bottom"></div>
                    <div class="box-right"></div>
                    <span><a href="http://www.za-cosmetics.com.cn/product/face/primer/bye2_shine_base_uv.html" target="_blank"><img src="app/style/img/product3.jpg" alt=""/></a></span>
                    <br/>
                    <div class="box-info">
                        <a href="http://www.za-cosmetics.com.cn/product/face/primer/bye2_shine_base_uv.html" style="color: #000;" target="_blank">Za清透控油防晒妆前乳 25ml</a>
                        <h4 style="color:#fa91a2;">网络折扣价 ￥98.00</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="recommend-line">
                <span>畅销产品</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="leftStyle">
                    <div class="up"><img src="app/style/img/product14.jpg" alt=""></div>
                    <div class="down">
                        <p class="down_p1">伊蒂之屋猴面包树清润保湿护理套装</p>
                        <p class="down_p2">网络热卖价 ￥196.00<br> 网络折扣价 ￥138.00</p>
                        <a href="http://www.etude.cn/product/view.do?prdCode=100006287" class="button" target="_blank">
                            <i class="fa fa-heart"></i>推荐购买
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4 rightStyle">
                        <img src="app/style/img/product15.jpg" alt=""/>
                        <div class="mask">
                            <h2>伊蒂之屋小甜心透嫩唇蜜</h2>
                            <p>沁凉水感丝融于唇，冰淇淋色泽甜美入心，限量版小甜心透嫩唇蜜</p>
                            <a href="http://www.etude.cn/product/view.do?prdCode=100012323" class="button" target="_blank">
                                <i class="fa fa-heart"></i>推荐购买
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 rightStyle">
                        <img src="app/style/img/product16.jpg" alt=""/>
                        <div class="mask">
                            <h2>玩转色彩多色眼影盘</h2>
                            <p>宛如轻舞飞扬的樱花般，为双眸晕染粉色的恋恋樱花，打造多样花漾美眸。</p>
                            <a href="http://www.etude.cn/product/view.do?prdCode=100017923" class="button" target="_blank">
                                <i class="fa fa-heart"></i>推荐购买
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 rightStyle">
                        <img src="app/style/img/product17.jpg" alt=""/>
                        <div class="mask">
                            <h2>悦诗风吟生机双色眉粉</h2>
                            <p>2种颜色巧妙搭配使用，<br/>打造自然眉部妆容的眉粉组合......<br/></p>
                            <a href="https://www.innisfree.cn/Product.do?method=productView&seq=1000001860" class="button" target="_blank">
                                <i class="fa fa-heart"></i>推荐购买
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 rightStyle">
                        <img src="app/style/img/product18.png" alt=""/>
                        <div class="mask">
                            <h2>控油矿物质粉饼 </h2>
                            <p>双层控油体系令肌肤更加丝滑，济州自然矿物质和薄荷成分令肌肤更加健康自然</p>
                            <a href="https://www.innisfree.cn/Product.do?method=productView&seq=1000000318" class="button" target="_blank">
                                <i class="fa fa-heart"></i>推荐购买
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 rightStyle">
                        <img src="app/style/img/product19.jpg" alt=""/>
                        <div class="mask">
                            <h2>碧柔水活防晒透白凝蜜</h2>
                            <p>适合所有肤质，保湿、美白、防晒融为一体，能使肌肤白皙亮泽</p>
                            <a href="https://detail.tmall.com/item.htm?spm=a1z10.1-b-s.w5003-17825074430.1.1b386ab8Zg0TcL&id=564141859965&skuId=3558089504915&scene=taobao_shop" class="button" target="_blank">
                                <i class="fa fa-heart"></i>推荐购买
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 rightStyle">
                        <img src="app/style/img/product20.jpg" alt=""/>
                        <div class="mask">
                            <h2>雪纱丝柔修颜隔离霜</h2>
                            <p>升级后特有的雪纱遮瑕配方，带来缔造透亮光滑肌肤的修颜效果</p>
                            <a href="http://www.laneige.com/cn/zh/product/makeup/face/view.skin-veil-base.all.html" class="button" target="_blank">
                                <i class="fa fa-heart"></i>推荐购买
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="recommend-line">
                <span>美妆小贴士</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a  class="block fancyBox" href="app/style/img/product21.jpg" ng-click="private.trackTips()" target="_blank">
                    <img src="app/style/img/product22.jpg" alt=""/>
                    <img src="app/style/img/new_icon.png" alt="" class="icon"/>
                    <div class="contentBox">
                        <div class="t-holder">
                            <div class="v-align">
                                <h1>""Tap-tap""<br/>"嘭嘭拍拍 毛孔拜拜"</h1>
                                <p class="more" style="opacity: 1">
                                    <span>了解详情</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a  class="block fancyBox" href="app/style/img/product23.jpg" ng-click="private.trackTips()" target="_blank">
                    <img src="app/style/img/product24.jpg" alt=""/>
                    <div class="contentBox">
                        <div class="t-holder">
                            <div class="v-align">
                                <h1>打造理想的底妆</h1>
                                <p class="more" style="opacity: 1">
                                    <span>了解详情</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a  class="block fancyBox" href="app/style/img/product25.jpg" ng-click="private.trackTips()" target="_blank">
                    <img src="app/style/img/product26.jpg" alt=""/>
                    <div class="contentBox">
                        <div class="t-holder">
                            <div class="v-align">
                                <h1>感受面膜般的保湿感 <small>*仅限中国大陆</small></h1>
                                <p>恒润娇养膜焕水的使用小贴士</p>
                                <p class="more" style="opacity: 1">
                                    <span>了解详情</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a  class="block fancyBox" href="http://v.qq.com/iframe/player.html?vid=g0023usja3q&auto=1" ng-click="private.trackTips()" target="_blank" allowfullscreen>
                    <img src="app/style/img/product27.jpg" alt=""/>
                    <div class="contentBox">
                        <div class="t-holder">
                            <div class="v-align">
                                <h1>如何正确卸除彩妆</h1>
                                <p>正确卸除彩妆是保持健康肌肤的关键</p>
                                <p class="more" style="opacity: 1">
                                    <span>了解详情</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-include="'tpl/footer.html'"></div>
    </div>
</div>